.filterBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    height: 13vh;
    overflow: hidden;
    @media #{$mobile} {
        flex-wrap: wrap-reverse;
        height: 23vh;
    }
    @media #{$smallPhone} {
        flex-wrap: wrap-reverse;
        height: 33vh;
    }
    h2 {
        font-size: 1.1em;
        word-wrap: break-word;
        text-align: center;
        flex: 1;
    }
    .searchByDiv {
        flex: 4;
        display: flex;
        justify-content: space-evenly;
        @media #{$smallPhone} {
            flex-wrap: wrap-reverse;
        }
        div {
            border-radius: 50%;
            background-color: $pokedexShowAllColor;
            border: 1px solid black;
            height: 8vh;
            width: 8vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 2.5vh;
            font-size: 0.8em;
            font-weight: 700;
            @media #{$mobile},
            #{$smallPhone} {
                margin: 0.5vh;
                height: 7vh;
                width: 7vh;
            }
            &:hover {
                cursor: pointer;
                box-shadow: 0px 0px 6px 3px black;
            }
            &:active {
                box-shadow: 0px 0px 3px 2px black;
                transform: translate(0.9);
            }
        }
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            list-style-type: none;
            li {
                border: 2px solid black;
                text-align: center;
                color: white;
                font-weight: 900;
                margin: 2px;
                border-radius: 3px;
                font-size: 0.8em;
                @media #{$mobile},
                #{$smallPhone} {
                    margin: 0;
                }
                &:hover {
                    cursor: pointer;
                    box-shadow: 0px 0px 1px 1px white;
                }
                &:active {
                    box-shadow: 0px 0px 2px 2px white;
                }
            }
            @for $i from 1 through length($colors) {
                li:nth-child(#{length($colors)}n+#{$i}) {
                    background: nth($colors, $i)
                }
            }
        }
    }
    .filterBySize {
        flex: 1;
        h4 {
            font-size: 0.9em;
            text-align: center;
        }
        .radioInputs {
            display: flex;
            justify-content: space-around;
        }
        .button {
            display: flex;
            justify-content: center;
            button {
                overflow: hidden;
                width: 41%;
                margin: 2% 2%;
                border-radius: 10px;
                background-color: $pokemonCardColor;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        input[type=number] {
            width: 30%;
            margin: 0 35%;
            background-color: $pokedexShowAllColor;
        }
    }
}