header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 10vh;
    align-items: center;
    background-color: $pokedexSecondColor;

    section {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &.logoTitle {
            flex: 4;
        }

        &.logoImage {
            flex: 1;
        }
    }
}