.pokemonList {
    height: 70vh;
    font-size: 18px;

    .pokedex {
        background-color: $backgroundBody;
        overflow-y: scroll;
        height: 92%;
        padding: 3% 2%;
        width: 95%;
        margin: 0 auto;
        border: 15px solid $pokedexBorderColor;
        border-radius: 10px;

        ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .pokemon {
                background-color: $pokemonCardColor;
                border: 1px solid black;
                width: 24%;
                overflow: hidden;
                min-width: 250px;
                max-width: 370px;
                padding: 0.5%;
                margin-bottom: 5px;
                margin-right: 5px;

                .pokemonBasic {
                    display: flex;
                    justify-content: space-around;
                    background-color: transparent;
                    height: 46%;
                }

                .pokemonBasicInfo {
                    font-size: 0.9em;
                    display: flex;
                    flex: 1.5;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                }

                .imgDiv {
                    overflow: hidden;
                    flex: 1;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                .grids {
                    display: flex;
                    justify-content: space-around;
                    font-size: 0.8em;
                    text-align: center;

                }

                .types {
                    display: flex;
                    flex: 1;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 0.8em;
                }

                .moves {
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    li {
                        border: 1px solid black;
                        border-collapse: separate;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .stats {
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    li {
                        border: 1px solid black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

            }
        }
    }

    .pageList {
        height: 8%;
        margin-top: 1vh;

        ul {
            height: 50%;
            display: flex;
            list-style-type: none;
            width: 40%;
            margin: 0 auto;
            justify-content: space-evenly;

            li {
                flex: 1;
                border: 1px solid black;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 3vh;
                &:hover{
                    cursor:pointer;
                }
            }
        }
    }
}