$pokedexBasicColor:#C0280D;
$backgroundBody:white;
$pokedexSecondColor:#8B1A00;
$pokedexBorderColor:#B0B0B0;
$pokedexShowAllColor:#62CAE1;
$pokemonCardColor:#B4D6F1;
$colors: #D7D0CB, #7F2C11, #C8D1FC, #934294, #E6CC8F, #BDA55C,#AAB919,#6D5694, #AEAEBE,#EE410B,#3196FC,#6EBF31,#F1CA2F,#EC457F,#7ED8F5,#765DE7,#513C2F,#F6B1F6,#A2A374,#141518;